.container {
    max-width: 1220px;
    padding: 20px;
    background: #ccc;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
}

.col {
    color: #fff;
    height: 50px;
    padding: 0 4px;
    width: 8.333333333333333%;
}
.item {
    background: brown;

}
.col-2 {
    width: 16.66666666%;
}
/* .col-10 {

}
.col-4 {
    
} */

